{% load static %}
<!DOCTYPE HTML>


<html>

<head>
    <title>Polls</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'votesite/css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'votesite/images/favicon2.png' %}">
    <meta http-equiv="cache-control" content="no-cache" />

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'poll:index' %}">Polls</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'profile' %}">Account</a>
    </nav>



    <header id="header" class="contact">
        <div class="inner">
            <h1>Polls</h1>
            <p>Vote in polls below!</p>
        </div>
    </header>




    <div id="wrapper">

        <section id="intro" class="main">
            <span class="icon fa-envelope major"></span>
            <h2>Available Polls</h2>
        </br>
            {% if latest_question_list %}
            <ul class="actions vertical">
                {% for question in latest_question_list %}
                <li><a href="{% url 'poll:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}

            <a href="{% url 'home' %}" class="button big">Go back home</a>
        </section>


        <footer id="footer">
            <ul class="icons">
            </br>
                <li><a href="{% url 'contact' %}" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            
        </footer>

    </div>
    <script src="{% static 'votesite/js/jquery.min.js' %}"></script>
    <script src="{% static 'votesite/js/skel.min.js' %}"></script>
    <script src="{% static 'votesite/js/util.js' %}"></script>
    <script src="{% static 'votesite/js/main.js' %}"></script>
    <script src="{% static 'votesite/js/navbarcontact.js' %}"></script>

</body>

</html>