{% load static %}
<!DOCTYPE HTML>


<html>
	<head>
		<title>Vote U-High</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'votesite/css/main.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'votesite/images/favicon2.png' %}" >
        <meta http-equiv="cache-control" content="no-cache" />
        
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'poll:index' %}">Polls</a>
			<a href="{% url 'contact' %}">Contact</a>
			<a href="{% url 'profile' %}">Account</a>
		  </nav>






		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Vote U-High</h1>
                    <p>A mock election for students at <a href="https://www.uhigh.ilstu.edu/blogs/main/">University High School</a></p>
                    
                </div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-check-square-o major"></span>
                        <h2>Cast your vote now!</h2>
                        <p>As our nation faces a global pandemic and economic crisis, we also have a presidential election on the horizon. With the 2020 Presidential Election only getting more polarized, every vote could make a true difference. As a precursor to the upcoming election, we are hosting a mock election for any University High School student! The voting is quick, easy, and completly anonymous. So what are you waiting for? Vote today!</p>
						<p>For security and accuracy, each student is required to login to vote. Requesting a login only requires your name, @ilstu.edu email, and Student ID. Once you have your login, click the button below to be brought to the poll. From there you simply choose your candidate and hit vote, it's that easy!</p>
						<ul class="actions">
							<li><a href="{% url 'poll:index' %}" class="button big">Vote!</a></li>
							<li><a href="{% url 'contact' %}" class="button big">Request a Login</a></li>
						</ul>
					</section>

                <!-- Items -->
                <h1 align="center">Meet the Candidates!</h1>
					<section class="main items">
                            
						<article class="item">
							<header>
								<a href="https://ballotpedia.org/Joe_Biden_presidential_campaign,_2020"><img src="{% static 'votesite/images/pic1.jpg' %}" alt="" /></a>
								<h3>Joseph R. Biden</h3>
							</header>
							<p>Joeseph (Joe) R. Biden is the Democratic nominee for President. Joe Biden was born November 20, 1942 in Scanton, Pennsylvania. After servering as a councilman for New Castle County in Delaware, Biden served as a United States Senator from 1973 to 2009. Biden was then tapped by President Barack Obama to be Vice-President from 2009 to 2016.</p>
							<ul class="actions">
								<li><a href="https://ballotpedia.org/Joe_Biden_presidential_campaign,_2020" class="button">Learn More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="https://ballotpedia.org/Donald_Trump_presidential_campaign,_2020"><img src="{% static 'votesite/images/pic2.jpg' %}" alt="" /></a>
								<h3>Donald J. Trump</h3>
							</header>
							<p>Donald J. Trump is the Republican nominee for President and incumbent. Donald Trump was born June 14, 1946 in New York City, New York. Trump served in no political office prior to 2016. He won the presidency in 2016 and has been in office since then.</p>
						</br>
							<ul class="actions">
								<li><a href="https://ballotpedia.org/Donald_Trump_presidential_campaign,_2020" class="button">Learn More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="https://ballotpedia.org/Kamala_Harris"><img src="{% static 'votesite/images/pic4.jpg' %}" alt="" /></a>
								<h3>Kamala D. Harris</h3>
							</header>
							<p>Kamala D. Harris is the Democratic nominee for Vice-President. Kamala Harris was born on October 20, 1964 in Oakland, California. Harris started her political career as Deputy District Attorney of Alameda County, California from 1990 to 1998. She then served as District Attorney in San Fransico from 2004 to 2011. From then she took on the role of Attorney General of California from 2011 to 2016. Finally, Harris now serves as a U.S. Senator since 2017.</p>
							<ul class="actions">
								<li><a href="https://ballotpedia.org/Kamala_Harris" class="button">Learn More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="https://ballotpedia.org/Mike_Pence#Elections"><img src="{% static 'votesite/images/pic4.jpg' %}" alt="" /></a>
								<h3>Michael R. Pence</h3>
							</header>
							<p>Michael (Mike) R. Pence is the Republican nominee for Vice-President under Donald Trump. Mike Pence was born onn June 7, 1959 in Columbus, Indiana. After serving in the U.S. House of Representatives from 2001 to 2013, Pence became Governor of Indiana from 2013 to 2017. Since 2017 Pence has served as Vice-President to President Donald Trump.</p>
							</br>
							</br>
							<ul class="actions">
								<li><a href="https://ballotpedia.org/Mike_Pence#Elections" class="button">Learn More</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Don't forget to register to vote!</h2>
						<p>If you will be 18 by November 3rd, 2020 you will be eligible to vote in this election.<br />
                            Click the link below to register to vote!</p>
						<ul class="actions">
							<li><a href="https://ova.elections.il.gov/" class="button big">Register</a></li>
						</ul>
					</section>


				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<h6>Need to get in touch?</h6>
							<li><a href="{% url 'contact' %}" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'votesite/js/jquery.min.js' %}"></script>
			<script src="{% static 'votesite/js/skel.min.js' %}"></script>
			<script src="{% static 'votesite/js/util.js' %}"></script>
			<script src="{% static 'votesite/js/main.js' %}"></script>
			<script src="{% static 'votesite/js/navbar.js' %}"></script>

	</body>
</html>