
  {% load static %}

  <!DOCTYPE HTML>
  
  <html>
  
  <head>
      <title>Update Profile</title>
      <link rel="stylesheet" type="text/css" href="{% static 'votesite/css/loginupdate.css' %}">
      <link rel="icon" type="image/png" href="{% static 'votesite/images/favicon2.png' %}" >
  
  <body>
  
      <div class="loginbox">
          <h1>Update information</h1>
          <form method="POST">
            {% csrf_token %}
            {{form.as_p }}
            <input type="submit" value="Submit">
            <a href="{% url 'home' %}">Go back home</a>
        </form>
      </div>
  
  
  </body>
  
  
  </head>
  
  
  </html>
